<!-- templates/geodata/public_map.html -->
{% extends 'base.html' %}
{% block content %}

  <!-- Sección 1: Bienvenida -->
  <section class="welcome-section">
    <div class="welcome-overlay">
      <h1>Bienvenido al Geoportal de Universidades</h1>
      <p>
        Descubre un mundo de opciones académicas a través de un sistema de información geográfica avanzado 
        que te permite encontrar la universidad, facultad o carrera ideal para ti.
      </p>
    </div>
  </section>

  <div class="container mt-2">
    <div class="row justify-content-between">
        <div class="col-12 col-md-4">
            <div class="stat-card">
                <div class="number" id="uCount">0</div>
                <img src="/media/marker/university.png" alt="Universidad Icon">
                <h2 style="margin-top: 35px; font-size: 1.25rem;">Universidades</h2>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="stat-card">
                <div class="number" id="fCount">0</div>
                <img src="/media/marker/faculty.png" alt="Facultad Icon">
                <h2 style="margin-top: 35px; font-size: 1.25rem;">Facultades</h2>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="stat-card">
                <div class="number" id="cCount">0</div>
                <img src="/media/marker/carrera.png" alt="Carrera Icon">
                <h2 style="margin-top: 35px; font-size: 1.25rem;">Carreras</h2>
            </div>
        </div>
    </div>
</div>

<!-- Sección 2: Mapa interactivo -->
<section class="map-section">
    <div id="map-container">
        <div id="map" style="width: 100%; height: 100vh;"></div>
    </div>
</section>

<!-- Contenedor flotante para detalles del marcador -->
<div id="popup-details" style="display: none;">
    <div id="popup-content">
        <button onclick="closePopup()"><i class='bx bx-minus'></i></button>
        <div id="popup-inner-content"></div>
    </div>
</div>
</section>

<!-- Sección 3: Slider -->
<section class="card-slider-section">
  <div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-caption">
              <div id="image-caption">Búsqueda Avanzada</div>
              <p>Nuestro sistema te permite filtrar universidades y facultades según tus preferencias, como ubicación, costos y más, facilitando la búsqueda de la opción que mejor se adapte a tus necesidades.
              </p>
              <img src="/media/marker/carrera.png">
              
            </div>   
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <div id="image-caption">Ranking de Universidades</div>
              <p>Consulta los rankings de universidades a nivel nacional e internacional para tomar decisiones informadas basadas en la calidad educativa y la reputación de las instituciones.</p>
                <img src="/media/marker/faculty.png" class="img-fluid">
                
            </div>   
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <div id="image-caption">Comparativa de carreras</div>
              <p>Compara diferentes carreras y sus planes de estudios en diversas universidades para encontrar la que más se alinee con tus objetivos profesionales y académicos.</p>
                <img src="/media/marker/university.png" class="img-fluid">
                
            </div>   
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <i class='fas fa-arrow-left'></i>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <i class='fas fa-arrow-right'></i>
        </a>
      </div>
      
  </div>
</section>

<!-- Sección 4: Funcionalidades y guía -->
<section class="features-section">
  
  <div class="guide">
    <strong><h2>Guía de uso</h2></strong><br>
    <div class="cards">
      <div class="card">
        <h3>Registro Rápido</h3>
        <p>Crea una cuenta en minutos para acceder a todas las funcionalidades del geoportal y personalizar tu experiencia de búsqueda..</p>
      </div>
      <div class="card">
        <h3>Búsqueda Efectiva</h3>
        <p>Introduce tus criterios de búsqueda en los filtros y descubre las opciones que mejor se adaptan a tus necesidades académicas.</p>
      </div>
      <div class="card">
        <h3>Comparación y Selección</h3>
        <p>Compara las universidades y programas seleccionados, y elige la mejor opción para tu futuro académico.</p>
      </div>
    </div>
  </div>
</section>


<script>
     const map = L.map('map', {
            zoom: 14,
            measureControl: false 
        }).setView([-17.972, -67.14], 14);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 20,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        // Añadir herramienta de medición personalizada
        const measureControl = L.control.measure({
            primaryLengthUnit: 'kilometers', 
            secondaryLengthUnit: 'meters',  
            primaryAreaUnit: undefined,    
            position: 'topright',          
            activeColor: '#db4a29',        
            completedColor: '#9b2d14'     
        });

        measureControl.addTo(map);

    let popupData = null;

    function showPopup(data) {
        document.getElementById('popup-details').style.display = 'block';
        const calificacionPromedio = data.calificacion_promedio;
        let content = '';
        if (data.imagen_url) {
            content += `<img src="${data.imagen_url}" alt="Imagen">`;
        }
        content += `<b>Tipo:</b> ${data.tipo}<br>
                    <b>Nombre:</b> ${data.nombre}<br>
                    <b>Descripción:</b> ${data.descripcion}<br>`;
        
        if (data.modalidad_inscripcion) {
            content += `<b>Modalidad de Inscripción:</b> ${data.modalidad_inscripcion}<br>`;
        }
        if (data.costo_matricula) {
            content += `<b>Costo de Matrícula:</b> $${data.costo_matricula}<br>`;
        }
        content += `<b>Calificación Promedio:</b> ${generarEstrellas(calificacionPromedio) || 'No disponible'}<br>`;

        document.getElementById('popup-inner-content').innerHTML = content;
    }

    function closePopup() {
        document.getElementById('popup-details').style.display = 'none';
        popupData = null;
    }

    const markerGroup = L.layerGroup().addTo(map);
    const uniLayer = L.layerGroup();
    const facLayer = L.layerGroup();
    const carLayer = L.layerGroup();

    function addMarkers(data, icon, map) {
        data.forEach(function(item) {
          if (item.latitud && item.longitud) {
            let marker = L.marker([item.latitud, item.longitud], {icon: icon, title: item.nombre} ).addTo(map);
            marker.on('click', function() {
                showPopup(item);
            });
             // Añadir el marcador al grupo
            markerGroup.addLayer(marker);
            if (item.tipo === "Universidad") {
            uniLayer.addLayer(marker); 
            } else if (item.tipo === "Facultad") {
                facLayer.addLayer(marker); 
            }else if (item.tipo === "Carrera") {
                carLayer.addLayer(marker); 
            }
          }
        });
    }
   
    var universidades = {{ universidades_json|safe }};
    var facultades = {{ facultades_json|safe }};
    var carreras = {{ carreras_json|safe }};
    let uCount = universidades.length;
    let fCount = facultades.length;
    let cCount = carreras.length;

    addMarkers(universidades, uIcon, map);
    addMarkers(facultades, fIcon, map);
    addMarkers(carreras, cIcon, map);

</script>


<script>
  L.control.scale({
            imperial: false, 
            metric: true,    
            maxWidth: 2000   
        }).addTo(map);

        
    // Añadir el control de búsqueda
    const searchControl = new L.Control.Search({
        layer: markerGroup,        
        position: 'topright',    
        propertyName: 'title',     
        zoom: 20,                  
        marker: false              
    });


    // Abrir el popup del marcador encontrado
    searchControl.on('search:locationfound', function(e) {
        e.layer.openPopup(); 
    });


    const overlays = {
    "Todas": markerGroup,
    "Universidades": uniLayer,
    "Facultades": facLayer,
    "Carreras": carLayer
};
L.control.layers(overlays,null, { position: 'topright',collapsed: false }).addTo(map);

map.addControl(searchControl);

     // Función para animar el conteo
     function animateCount(element, target) {
        let start = 0;
        const increment = target / 100;
        const interval = setInterval(() => {
            start += increment;
            element.textContent = Math.floor(start);
            if (start >= target) {
                clearInterval(interval);
                element.textContent = target;
            }
        }, 10);
    }

    animateCount(document.getElementById('uCount'), uCount);
    animateCount(document.getElementById('fCount'), fCount);
    animateCount(document.getElementById('cCount'), cCount);
</script>

{% endblock %}
