{% extends 'base.html' %}

{% block content %}

<div  style="background: rgba(8, 52, 97, 0.9); height: 8vh; width: 100%;">
</div>
<div id="map"  style="height: 92vh;"></div>

<div class="sidebar-container">
    <button id="toggle-sidebar" class="sidebar-toggle-btn">
      <i class='bx bx-chevron-right'></i>
    </button>
    <!-- Barra deslizable -->
    <div class="sidebar">
      <div class="sidebar-content">
        {% load custom_tags %}
        {% if user.is_authenticated and not user|is_in_group:"PublicUsers" %}
        <button type="button" class="btn btn btn-warning" data-toggle="modal" data-target="#exampleModal">
            Gestionar
        </button>
        {% endif %} 
        <div class="info-cards">
            <div class="card" id="card-info" class="card d-none">
                <img id="card-image" class="card-img-top" alt="Selecciona una Universidad" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <strong><h5 id="card-title" class="card-title"></h5></strong>
                    <p id="card-description" class="card-text"></p>
                    <p id="card-rating"></p>
                    <p id="calificar"></p>
                    <p id="marcar"> 
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header bg-info" id="flush-headingOne">
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Filtros Avanzados
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <!-- Filtros -->
                    <div class="filter-section">
                        <form method="get" class="mb-4" id="buscar-form">
                            <div class="row">
                                <div class="col-md-4" style="width: 100%;">
                                    <input type="text" name="nombre" class="form-control" placeholder="Buscar por nombre" value="{{ request.GET.nombre }}">
                                </div>
                                    <input type="hidden" step="0.01" id="lat-input" name="lat" class="form-control" placeholder="Latitud" value="{{ request.GET.lat }}" readonly>
                                    <input type="hidden" step="0.01" id="lon-input" name="lon" class="form-control" placeholder="Longitud" value="{{ request.GET.lon }}" readonly>
                                <div class="col-md-9">
                                    <input type="number" step="0.01" id="radio-input" name="radio" class="form-control" placeholder="Buscar por ubicación (km)" value="{{ request.GET.radio }}">
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-primary w-100"><i class="bx bx-search"></i></button>
                                </div>
                                <p><strong>Punto seleccionado:</strong> <span id="selected-coordinates">Haz clic en el mapa para seleccionar un punto.</span></p>
                            </div>
                        </form>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
  
<script>

    var universidades = {{ universidades_json|safe }};
    var map = L.map('map').setView([-17.9677, -67.11], 14);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
    }).addTo(map);

    let selectedMarker = null;
    let radiusCircle = null;
    const markerGroup = L.layerGroup().addTo(map);
    const publicasLayer = L.layerGroup();
    const privadasLayer = L.layerGroup();
    const iconTodas = '<img src="/media/marker/universityR.png" style="width: 25px; height: 25px; vertical-align: middle; margin-right: 5px;">';
    const iconPublicas = '<img src="/media/marker/universityP.png" style="width: 25px; height: 25px; vertical-align: middle; margin-right: 5px;">';
    const iconPrivadas = '<img src="/media/marker/universityS.png" style="width: 25px; height: 25px; vertical-align: middle; margin-right: 5px;">';
// Mostrar puntos en el mapa
universidades.forEach(uni => {
    if (uni.latitud && uni.longitud) {
        const marker = L.marker([uni.latitud, uni.longitud], {  icon: uni.tipo === 'pública' ? uIconP : uIcon, title: uni.nombre }).addTo(map);
        marker.on('click', () => showCard(uni));
        const popupContent = `
        <div style="font-size: 12px;">
            <p>${uni.nombre} 
            <strong>Tipo:</strong> ${uni.tipo}</p>
        </div>
        `;
        const popup = L.popup({ autoClose: false, closeOnClick: false })
            .setLatLng([uni.latitud, uni.longitud])
            .setContent(popupContent);
         marker.bindPopup(popup); 

        markerGroup.addLayer(marker);
        if (uni.tipo === "pública") {
        publicasLayer.addLayer(marker);
        } else if (uni.tipo === "privada") {
            privadasLayer.addLayer(marker);
        }
    }
});
    markerGroup.addTo(map);
// Mostrar detalles en la tarjeta
function showCard(uni) {
    document.getElementById('card-info').classList.remove('d-none');
    document.getElementById('card-title').textContent = uni.nombre;
    document.getElementById('card-description').textContent = uni.descripcion;
    document.getElementById('card-rating').innerHTML  = `${generarEstrellas(uni.calificacion_promedio) || 'No disponible'} ${uni.calificacion_promedio}<br>`;
    const button = document.querySelector('.favorite-btn');
    if (uni.es_favorita){
        document.getElementById('marcar').innerHTML =`
        <button class="btn btn-primary favorite-btn" 
                    data-id="${uni.id}" 
                    data-tipo="universidad">
                <i class="bx bxs-star"></i>Favorito
        </button>`;
        
    }else{
        document.getElementById('marcar').innerHTML =`
        <button class="btn btn-outline-primary favorite-btn" 
                    data-id="${uni.id}" 
                    data-tipo="universidad">
                <i class="bx bx-star"></i> Marcar como Favorito
        </button>`;
    }
    document.getElementById('calificar').innerHTML = `
            <form id="calificacion-form">
                <div class="row">
                    <div class="col-md-3">
                        Calificar
                    </div>
                    <div class="col-md-9">
                        <div id="calificacion" class="div-cal">
                            <input type="radio" id="star1" name="calificacion" value="5" onclick="submitCalificacion('${'Universidad'}', ${uni.id})">
                            <label for="star1" class="star"></label>

                            <input type="radio" id="star2" name="calificacion" value="4" onclick="submitCalificacion('${'Universidad'}', ${uni.id})">
                            <label for="star2" class="star"></label>

                            <input type="radio" id="star3" name="calificacion" value="3" onclick="submitCalificacion('${'Universidad'}', ${uni.id})">
                            <label for="star3" class="star"></label>

                            <input type="radio" id="star4" name="calificacion" value="2" onclick="submitCalificacion('${'Universidad'}', ${uni.id})">
                            <label for="star4" class="star"></label>

                            <input type="radio" id="star5" name="calificacion" value="1" onclick="submitCalificacion('${'Universidad'}', ${uni.id})">
                            <label for="star5" class="star"></label>
                        </div>
                    </div> 
                    
                </div>
            </form>
        `;
    const img = document.getElementById('card-image');
   
    img.src = uni.imagen_url || 'https://via.placeholder.com/400';
}

// Evento de clic en el mapa
map.on('click', function (e) {
    const { lat, lng } = e.latlng;
    // Actualizar campos de latitud y longitud
    document.getElementById('lat-input').value = lat.toFixed(6);
    document.getElementById('lon-input').value = lng.toFixed(6);
    document.getElementById('selected-coordinates').textContent = `Latitud: ${lat.toFixed(6)}, Longitud: ${lng.toFixed(6)}`;

    if (selectedMarker) {
        selectedMarker.setLatLng([lat, lng]);
    } else {
        selectedMarker = L.marker([lat, lng]).addTo(map);
    }
    // Dibujar o actualizar el círculo de radio
    const radio = parseFloat(document.getElementById('radio-input').value) || 0;
    if (radiusCircle) {
        radiusCircle.setLatLng([lat, lng]);
        radiusCircle.setRadius(radio * 1000);
    } else {
        radiusCircle = L.circle([lat, lng], {
            color: 'blue',
            fillColor: '#add8e6',
            fillOpacity: 0.5,
            radius: radio * 1000, // Convertir km a metros
        }).addTo(map);
    }
});
// actualizar el radio del círculo cuando cambie el valor del input
document.getElementById('radio-input').addEventListener('input', function () {
    const radio = parseFloat(this.value) || 0;
    if (radiusCircle) {
        radiusCircle.setRadius(radio * 1000); // Convertir km a metros
    }
});


// control de búsqueda
const searchControl = new L.Control.Search({
        layer: markerGroup,      
        position: 'topleft',    
        propertyName: 'title',     
        zoom: 18,                  
        marker: false             
    });

    //popup del marcador encontrado
    searchControl.on('search:locationfound', function(e) {
        e.layer.openPopup(); 
    });
    map.addControl(searchControl);

// Crear un control de capas para alternar visibilidad
const overlays = {
    [`${iconTodas} Todas`]: markerGroup,
    [`${iconPublicas} Públicas`]: publicasLayer,
    [`${iconPrivadas} Privadas`]: privadasLayer
};
L.control.layers(overlays,null, { position: 'topleft',collapsed: false  }).addTo(map);

// Crear un botón de control para ocultar/mostrar los popups
const popupToggleControl = L.Control.extend({
    options: { position: 'topleft' }, 

    onAdd: function(map) {
        const button = L.DomUtil.create('button', 'leaflet-bar leaflet-control popup-toggle');
        button.innerHTML = '<i class="bx bx-show"></i> Mostrar Info'; // Ícono inicial de "mostrar"
        L.DomEvent.on(button, 'click', () => {
            if (button.innerHTML.includes('bx-hide')) {
                button.innerHTML = '<i class="bx bx-show"></i> Mostrar Info'; // Cambiar ícono a "ocultar"
                closePopups(markerGroup);
                closePopups(publicasLayer);
                closePopups(privadasLayer);
            } else {
                button.innerHTML = '<i class="bx bx-hide"></i> Ocultar Info'; // Cambiar ícono a "mostrar"
                openPopups(markerGroup);
                openPopups(publicasLayer);
                openPopups(privadasLayer);
            }
        });

        return button;
    }
});

// Añadir el control de ocultar/mostrar popups al mapa
map.addControl(new popupToggleControl());
</script>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 90%;" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <a href="{% url 'universidad_create' %}" class="btn btn-primary " data-bs-toggle="tooltip" data-bs-placement="top" title="Crear nueva">
                Crear Nueva <i class="bx bx-plus"></i>
            </a>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="font-size: x-large;">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <!--Card-->
            <div id='recipients' class="p-2 mt-2 lg:mt-0 rounded shadow bg-white">
                <table id="example" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;" >
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for universidad in universidades %}
                        <tr  data-nombre="{{ universidad.nombre }}" data-latitud="{{ universidad.latitud }}" data-longitud="{{ universidad.longitud }}">
                            <td>{{ universidad.nombre }}</td>
                            <td>{{ universidad.tipo }}</td>
                            <td>{{ universidad.descripcion }}</td>
                            <td>
                                <a href="{% url 'universidad_edit' universidad.pk %}" class="btn btn-warning" data-bs-toggle="tooltip" title="Editar">
                                    <i class="bx bx-edit"></i>
                                </a>
                                <form action="{% url 'universidad_delete' universidad.pk %}" method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger" title="Eliminar"><i class="bx bx-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
         <!--/Card-->
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

{% endblock %}
