<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>UniversidadeSIG</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-measure@3.1.0/dist/leaflet-measure.min.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet-measure@3.1.0/dist/leaflet-measure.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet-search/dist/leaflet-search.min.css">
    <script src="https://unpkg.com/leaflet-search/dist/leaflet-search.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel=" stylesheet">
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
	<!--Responsive Extension Datatables CSS-->
	<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">

    <!-- Leaflet Draw CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />


<!-- Leaflet Draw JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

<link rel="icon" href="/media/marker/universityR.png" type="image/x-icon">


{% load static %}

<link rel="stylesheet" href="{% static 'geodata/css/styles.css' %}">
<script src="{% static 'geodata/js/scriptHead.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
       
       const showNavbar = (toggleId, navId, bodyId, headerId) =>{
       const toggle = document.getElementById(toggleId),
       nav = document.getElementById(navId),
       bodypd = document.getElementById(bodyId),
       headerpd = document.getElementById(headerId)
       if(toggle && nav && bodypd && headerpd){
       toggle.addEventListener('click', ()=>{
       nav.classList.toggle('show')
       toggle.classList.toggle('bx-x')
       bodypd.classList.toggle('body-pd')
       headerpd.classList.toggle('body-pd')
       })
       }
       }
       
       showNavbar('header-toggle','nav-bar','body-pd','header')
       
       /*===== LINK ACTIVE =====*/
       const linkColor = document.querySelectorAll('.nav_link')
       
       function colorLink(){
       if(linkColor){
       linkColor.forEach(l=> l.classList.remove('active'))
       this.classList.add('active')
       }
       }
       linkColor.forEach(l=> l.addEventListener('click', colorLink))
       
        // Your code to run since DOM is loaded and ready
       });
    </script>  



</head>
<body id="body-pd">
    <header class="navbar" id="navbar">
        <div class="logo" id="logo" style="display: flex; align-items: center;">
            <img src="/media/marker/logoN.png" alt="" style="height: 30px;"> Universidades SIG 
        </div>
        <nav>
          <ul class="menu" >
            <li class="menu-item">
                <a href="{% url 'top_items' %}" class="nav_link" title="Ranking">
                    <span class="nav_name">Ranking</span>
                </a>
            </li>
            <li class="menu-item" >
                <a href="{% url 'universidad_list' %}" class="nav_link" title="Universidades">
                    <span class="nav_name">Universidades</span>
                </a>
            <li class="menu-item">
                <a href="{% url 'facultad_list' %}" class="nav_link" title="Facultades">
                    <span class="nav_name">Facultades</span>
                </a>   
            </li>
            <li class="menu-item" >
                <a href="{% url 'carrera_list' %}" class="nav_link" title="Carreras">
                    <span class="nav_name">Carreras</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="{% url 'favoritos_list' %}" class="nav_link" title="Favoritos">
                    <span class="nav_name">Favoritos</span>
                </a>
            </li>
          </ul>
        </nav>
        <div class="actions">
          {% load custom_tags %}
                 {% if not user.is_authenticated %}
          <div id="login-section">
            <a href="{% url 'login' %}" class="btn btn-outline-light">Iniciar Sesión <i class='bx bx-log-in'></i> </a>
          </div>
          {% endif %}  
          {% if user.is_authenticated %}
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-light"><i class='bx bx-log-out nav_icon'></i></button>
            </form>
            {% endif %} 
            <div id="dark-mode-toggle">
                <i class="bx bx-moon" id="dark-mode-icon"></i>
              </div>
              
        </div>
      </header>



      
    <div>
        {% block content %}
        {% endblock %}
    </div>

    <!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap Bundle JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

	<!--Datatables -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
	<script>
		$(document).ready(function() {

			var table = $('#example').DataTable({
					responsive: true
				})
				.columns.adjust()
				.responsive.recalc();
		});
	</script>

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'geodata/js/script.js' %}"></script>
    
    {% block js %}{% endblock %}
</body>
</html>
